<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>console</headerType>
  <jar>C:\Users\javon\OneDrive\Desktop\Test.jar</jar>
  <outfile>C:\Users\javon\OneDrive\Desktop\Group Project EXE\LibraryManagementSystem.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>true</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\javon\Downloads\17717835.ico</icon>
  <singleInstance>
    <mutexName>LibraryManagementSystem.exe</mutexName>
    <windowTitle>LibraryManagementSystem.exe</windowTitle>
  </singleInstance>
  <jre>
    <path>JRE</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>1.4.0</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>